<%- include('./partials/header.ejs') %> 
<%   let auth %> 
    </div>
    <% if (auth){ %>
      <main role="main" class="container">
      <div class="row  justify-content-center new-blog">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            Create New Blog
          </h3>

          <form  action="/blogs" method="POST">

            <div class="form-group">
              <label for="title">Article Title</label>
              <input name="title" type="text" class="form-control rounded-pill-c" id="title" required >
            </div>

            <div class="form-group">
              <label for="summary">Article Summary</label>
              <input name="summary" type="text" class="form-control rounded-pill-c" id="summary" placeholder="" required>  
            </div>
            <div class="form-group">
              <label for="category">Article Category</label>
              <input name="category" type="text" class="form-control rounded-pill-c" id="category" placeholder="" required >
            </div>

            <div class="form-group">
                <label for="body">Article Body [Markdown]</label>
                <textarea name="body" class="form-control rounded-pill-c" id="body" rows="10" required placeholder="## Title ..." ></textarea>
            </div>

            <div class="form-group">
                <label class="form-label" for="photo">Article Image</label>
                <input name="photo" type="text" class="form-control rounded-pill-c" id="photo"  placeholder="Enter Image URL"/>
            </div>
            <button type="submit" class="btn btn-primary ">Publish</button>
            
        </form>

        </div>


      </div>

    </main>
    <% } else { %> 
      <div class="row justify-content-center mt-5">
                    

       <form  action="/blogs" method="POST" class="w-25 justify-content-center" onsubmit="return isLogin = true;">
        <h3 class="mb-5 text-center">Sign in first</h3>

        <!-- Email input -->

        <div class="form-outline mb-4">
          <input name="email" type="email" id="email" class="form-control" />
          <label class="form-label" for="email">Email address</label>
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input name="password" type="password" id="password" class="form-control" />
          <label class="form-label" for="password">Password</label>
        </div>
      
        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
              <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
          </div>
      
          <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
      
        <!-- Register buttons -->
        <div class="text-center">
          
          <p>or sign up with:</p>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#727272"><path d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm4 7.278V4.5h-2.286c-2.1 0-3.428 1.6-3.428 3.889v1.667H8v2.777h2.286V19.5h2.857v-6.667h2.286L16 10.056h-2.857V8.944c0-1.11.572-1.666 1.714-1.666H16z"/></svg>      
      
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#727272"><path d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm3.193 7c-1.586 0-2.872 1.243-2.872 2.777 0 .217.025.43.074.633a8.251 8.251 0 0 1-5.92-2.902c-.247.41-.389.887-.389 1.397 0 .963.507 1.813 1.278 2.311a2.94 2.94 0 0 1-1.301-.348v.036c0 1.345.99 2.467 2.304 2.723a2.98 2.98 0 0 1-1.298.047c.366 1.103 1.427 1.906 2.683 1.928a5.889 5.889 0 0 1-3.567 1.19c-.231 0-.46-.014-.685-.04A8.332 8.332 0 0 0 9.903 18c5.283 0 8.172-4.231 8.172-7.901 0-.12-.002-.24-.008-.36A5.714 5.714 0 0 0 19.5 8.302a5.869 5.869 0 0 1-1.65.437 2.8 2.8 0 0 0 1.263-1.536 5.87 5.87 0 0 1-1.824.674A2.915 2.915 0 0 0 15.193 7z"/></svg>
      
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#727272"><path d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zM8.951 9.404H6.165V17.5H8.95V9.404zm6.841-.192c-1.324 0-1.993.629-2.385 1.156l-.127.181V9.403h-2.786l.01.484c.006.636.007 1.748.005 2.93l-.015 4.683h2.786v-4.522c0-.242.018-.484.092-.657.202-.483.66-.984 1.43-.984.955 0 1.367.666 1.408 1.662l.003.168V17.5H19v-4.643c0-2.487-1.375-3.645-3.208-3.645zM7.576 5.5C6.623 5.5 6 6.105 6 6.899c0 .73.536 1.325 1.378 1.392l.18.006c.971 0 1.577-.621 1.577-1.398C9.116 6.105 8.53 5.5 7.576 5.5z"/></svg>
        </div>
       
      </form>
    </div>
   <% } %> 
<%- include('./partials/footer.ejs') %> 