<%- include('./partials/header.ejs') %> 
    </div>
    <main role="main" class="container">
      <div class="row  justify-content-center new-blog">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            Create New Blog
          </h3>

          <!-- <form  action="/" method="POST"> -->
          <form  action="/blogs" method="POST">

            <div class="form-group">
              <label for="title">Article Title</label>
              <input name="title" type="text" class="form-control rounded-pill-c" id="title" placeholder="title..." required >
            </div>

            <div class="form-group">
              <label for="summary">Article Summary</label>
              <input name="summary" type="text" class="form-control rounded-pill-c" id="summary" placeholder="" required>  
            </div>
            <div class="form-group">
              <label for="category">Article Category</label>
              <input name="category" type="text" class="form-control rounded-pill-c" id="category" placeholder="" required >
            </div>

            <div class="form-group">
                <label for="body">Article Body</label>
                <textarea name="body" class="form-control rounded-pill-c" id="body" rows="3" required ></textarea>
            </div>

            <div class="form-group">
                <label class="form-label" for="photo">Upload Article Image</label>
                <input name="photo" type="file" class="form-control rounded-pill-c" id="photo"  value="upload image"/>
            </div>
            <button type="submit" class="btn btn-primary ">Publish</button>
            
        </form>

        </div><!-- /.blog-main -->


      </div><!-- /.row -->

    </main><!-- /.container -->
<%- include('./partials/footer.ejs') %> 