<%- include('./partials/header.ejs') %> 
<%   let auth = false %> 
    </div>
    
      <main role="main" class="container">
      <div class="row  justify-content-center new-blog">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            Sorry! You are not Registerd 
          </h3>
          <a href="/" class="btn btn-primary ">Return</a>

         

        </div>
      </div>
    </main>

<%- include('./partials/footer.ejs') %> 