<%- include('./partials/header.ejs') %> 
<%   let auth = false %> 
    </div>
    <% if (auth){ %>
      <main role="main" class="container">
      <div class="row  justify-content-center new-blog">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            Create New Blog
          </h3>

          <form  action="/blogs" method="POST">

            <div class="form-group">
              <label for="title">Article Title</label>
              <input name="title" type="text" class="form-control rounded-pill-c" id="title" required >
            </div>

            <div class="form-group">
              <label for="summary">Article Summary</label>
              <input name="summary" type="text" class="form-control rounded-pill-c" id="summary" placeholder="" required>  
            </div>
            <div class="form-group">
              <label for="category">Article Category</label>
              <input name="category" type="text" class="form-control rounded-pill-c" id="category" placeholder="" required >
            </div>

            <div class="form-group">
                <label for="body">Article Body [Markdown]</label>
                <textarea name="body" class="form-control rounded-pill-c" id="body" rows="10" required placeholder="## Title ..." ></textarea>
            </div>

            <div class="form-group">
                <label class="form-label" for="photo">Article Image</label>
                <input name="photo" type="text" class="form-control rounded-pill-c" id="photo"  placeholder="Enter Image URL"/>
            </div>
            <button type="submit" class="btn btn-primary ">Publish</button>
            
        </form>

        </div>
      </div>
    </main>
   <% } else {  %>
    <main role="main" class="container">
      <div class="row  justify-content-center new-blog">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            You have to login first 
          </h3>

          <form  action="/blogs/login" method="POST">

            <div class="form-group">
              <label for="email">Email</label>
              <input name="email" type="email" class="form-control rounded-pill-c" id="title" required placeholder="example@email.com" >
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input name="password" type="password" class="form-control rounded-pill-c" id="password" placeholder="**********" required>  
            </div>
            <button type="submit" class="btn btn-primary ">Login</button>
            
        </form>

        </div>
      </div>
    </main>

  <% } %> 
<%- include('./partials/footer.ejs') %> 