/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */




/* Dark Mode */

.dark{
  background: rgb(22, 24, 29) !important;
  color: rgb(232, 232, 253);
}
.dark .blog-header div{
  color: rgb(200, 0, 0) !important;
}
.dark p{
  color: rgb(152, 160, 179)
}
.dark footer {
  background-color: rgb(11, 12, 14);
  border: none;
}
.dark .bg-dark{
  background-color: aqua !;
}
.dark code{
  color: #0056b3;
}

.dark .text-dark{
  color: rgb(232, 232, 232) !important;
}

.rounded-pill-c{
border-radius: 2rem;
background-color: #eeeeee;
border: none;
padding: 10px 20px;
}

.new-blog{
border-top: 1px solid #e5e5e5;
padding-top: 5em;
padding-bottom: 4em;
/* margin: 2em; */
}
/*  */
.overflow-hidden{
  overflow: hidden;
  border: 10px solid white;
}

img[alt=markdown] { width: 100%; }
img[alt=markdown]:hover { 
  width: 105%; 
  transition: width .1s ease;
 }
.card-img-right{
  object-fit: cover;
  
}
.first_blog_photo{
  object-fit: cover;
  
}
.first_blog_post{
  background: rgba(27, 32, 37, 0.82);
  overflow: hidden;
  height: 100%;
  z-index: 2;
  
}
pre {
background: rgb(35, 35, 35);
font-family: 'courier new';
color: #fff;
padding: 30px;
border-radius: 20px;
}
.hidden-delete{
  border: none;
  background-color: #eeeeee;
  color: whitesmoke;
  background: white;
  text-align: center;
  margin: auto;
  display:inline-block;
  cursor: default;
}

.hidden-delete:hover{
  text-decoration: unset;
  color:#e5e5e5;
  
}
body{
  position: relative;
  min-height: 100vh;
  padding-bottom: 8em;
}
.content-wrap {
  padding-bottom: 2.5rem;   
}

.blog-footer {
  margin-top: 5rem;
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
  position: absolute;
  bottom: 0;
  width: 100%;
  
}
.blog-footer p:last-child {
  margin-bottom: 0;
}